header {
	background: #a7a7a2;
	padding: 10px;

}
#navItemVerde{
    color: rgb(29, 238, 29);
}

.logo{
    width:  100%;
    height: 800px;
    padding: auto;
    margin:0;
   
}

.contenedor-main {
	margin-bottom: 20px;
}

.thumbnail { 
    position: relative; 
   } 

.CajaTexto { 
    position: absolute; 
    top: 5%; 
    padding-right: 15px;  */
    width: 100%; 
    
   } 

.texto{
    color: #fff;
    text-align: right;
    font-size: 1rem;
    transform: traslate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
    top: 1%; 
}
.textoP{
    font-size: 85%;
    padding-left: 10%;
    word-wrap: break-word;
    color: #fff;
    text-align: right;
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
}

.btn1{
    background-color: rgba(0, 0, 0, 0)
    ;
    color: #fff;
    border-color: #fff;
}
.btn2{
    background-color: rgb(14, 233, 43);
    color: #fff;
    border: none;
    align-items: left;
    border-radius: 2;
}

footer {
	padding: 20px 0;
	background: #13515c;
   

    }

footer .container-fluid  nav ul li a{
        color: rgb(250, 249, 248) !important;
    }


   